body {
  padding: 20px 0 0 0;
  background: none;
  font-family: Lato;
  color: #333;
}

body.embed {
  margin: 0;
  padding: 0;
}

body.app {
  background: #ddd;
}

a:focus {
  outline: 0;
}

.logo {
  display: none;
  background: #ddd;
  text-align: center;
  position: fixed;
  z-index: 100000;
  text-align: center;
  left: 0;
  width: 100%;
  padding: 10px 0;
  margin-top: -20px;
}

.logo img {
  position: relative;
  margin: auto;
  height: 55px;
  margin: 0;
}

body.app .logo {
  display: block;
}


.overlay-close-button {
  display: none;
  padding: 5px 10px;
  margin: 30px auto;
  max-width: 3.5em;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  border: 2px solid #fff;
  background: #808080;
}
.overlay-close-button:hover {
  color: #808080;
  background: #fff;
}
body.embed.overlay .overlay-close-button {
  display: block;
}


.cards {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 380px;
}

body.embed .cards {
  margin: 10px auto;
  max-width: 440px;
}

.layer, .card, .card .card-visible, .card .card-spacer {
  -webkit-transition: -webkit-transform 0.5s, height 0.5s, margin 0.5s, opacity 0.5s; /* Safari */
  transition: transform 0.5s, height 0.5s, margin 0.5s, opacity 0.5s;
}

.layer > div {
  /*margin-top: -10px;*/
}

.card {
  margin: 0px 0 30px 0;
  padding: 0 5px;
}

.card.standalone {
  margin: 20px 15px 10px 15px;
}

.card:focus {outline:0;}

.card .card-spacer {
  position: relative;
  z-index: -100;
  margin: 10px 0;
  height: 100px;
  /*border: solid red 2px;*/
}

.card .card-visible {
  min-height: 120px;
  padding-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  opacity: 1;
  background: white;
  transform: scale(1);
}

.card .card-grey {
  display: none;
  z-index: 20;
  position: absolute;
  float: left;
  height: 100%;
  width: 100%;
  /*pointer-events: none;*/
}

.card.faded .card-grey {
  display: block;
  background: rgba(221,221,221,0.4);
  -webkit-transition: background 0.5s; /* Safari */
  transition: background 0.5s;
}


.card.opening .card-visible {
  transform: scale(0,0);
  /*height: 0;*/
  opacity: 0;
}

.card.faded .card-visible {
  /*z-index: -1;*/
  /*transform: scale(0.95,0.95);*/
  /*margin-top: 15px;*/
  /*opacity: 0.4;*/
}

.layer.removed, .card.removed {
  -moz-transform: scale(0.01);
  -webkit-transform: scale(0.01);
  -o-transform: scale(0.01);
  -ms-transform: scale(0.01);
  transform: scale(0.01);
}
.card.opening .card-spacer, .card.removed .card-spacer {
  height: 0;
}

.card .card-visible > div.close {
  z-index: 30;
  position: relative;
  float: right;
  color: #bbb;
  width: 36px;
  height: 27px;
  text-align: center;
  padding-top: 9px;
  display: none;
}

.card .card-visible > div.close:active i, .card .card-visible > div.close:hover i {
  color: #ff6e73;
}

.cards .card-carousel:nth-last-child(1) .card .card-visible > div.close {
  display: block; /* Diplays only in last layer... */
}
.cards .card-carousel:nth-child(1) .card .card-visible > div.close {
  display: none; /* ... but Never displays in first layer... */
}
body.overlay .cards .card-carousel:nth-last-child(1) .card .card-visible > div.close {
  display: block; /* ... except in an overlay! */
}

.header-image {
  height: 150px;
  background: rgba(0,0,0,0.2);
}

.header-image img {
  position: relative;
  /*z-index: -1;*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-image h3 {
  position: relative;
  margin-top: -35px;
  margin-left: 20px;
  text-transform: uppercase;
  color: white;
}

h2 {
  padding: 0 20px;
  margin: 22px 0 0 0;
  font-size: 20px;
}

.card .card-image {
  max-height: 250px;
  overflow: hidden;
  margin-bottom: 22px;
}

.card .card-image > div {
  max-height: inherit;
  transform: translateY(50%);
}

.card .card-image img {
  max-width: 100%;
  display: block;
  transform: translateY(-50%);
  margin: auto;
}

.body-content {
  /*min-height: 70px;*/
}
.body-content, .more-detail {
  padding: 0 20px;
  line-height: 1.9;
}

.body-content a, .more-detail a {
  padding: 0 3px;
  background: #ebebeb;
  border: 2px solid #ebebeb;
  text-decoration: none;
  color: #333;
}

.body-content a:active, .body-content a.active, .more-detail a:active, .more-detail a.active {
  color: white;
  background: #ff6e73;
  border: 2px solid #ff6e73;
}

.more-detail > p.label {
  font-size: 14px;
  margin-bottom: -20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}


.card .card-icon {
  position: absolute;
  right:  9px;
  bottom: 5px;
  height: 30px;
  width: 26px;
  overflow: hidden;
  transition: width 0.5s;
  pointer-events: none;
  cursor: default;
}
.card .card-icon:hover {
  width: 104px;
}
.card .card-icon img {
  height: 30px;
  opacity: 0;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: opacity 0.5s;
}
.cards .layer:last-child .card .card-icon {
  pointer-events: all;
  cursor: pointer;
}
.cards .layer:last-child .card .card-icon img {
  opacity: 0.6;
}
.cards .layer:last-child .card .card-icon:hover img {
  opacity: 1;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.card .edit-button {
  display: none;
  position: relative;
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 110, 115, 0.7);
  background: #eee;
  box-shadow: 1px 1px 1px -1px grey;
  color: #999;
  margin: -43px 8px 0 0px;
  cursor: pointer;
  outline: none;
}
/*.card:hover .edit-button {
  display: block;
}*/
.card .edit-button:hover {
  background: rgba(255, 110, 115, 1);
  color: white;
}
.card .edit-button:active {
  box-shadow: none;
}

.card-spacer {
  height: 0;
}




body.desktop .body-content a:hover, body.desktop .more-detail a:hover {
  color: white;
  background: #ff6e73;
  border: 2px solid #ff6e73;
}
body.desktop .card .card-visible > div.close {
  opacity: 0;
}
body.desktop .card .card-visible:hover > div.close {
  opacity: 1;
}
body.desktop .card .card-visible > div.close:hover {
  cursor: pointer;
}
body.desktop .card .card-visible > div.close:hover i {
  color: #ff6e73;
}
body.desktop .card.faded .card-grey > div {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0);
}
body.desktop .card.faded .card-grey:hover > div {
  background: rgba(255,255,255,0.1);
}
